.b-header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $dark-blue;
    z-index: 1000;
    &__main{
        position: relative;
        width: 100%;
    }
    &__wrapper{
        @include breakpoint(desktop){
            display: flex;
            padding-left: 3.3rem;
            padding-right: 3.8rem;
            justify-content: space-between;
        }
    }
    &__logo--racing{
        position: relative;
        margin: auto;
        top: 1.6rem;
        width: 23.3rem;
        height: 7rem;
        margin-bottom: 2.9rem;
        @include breakpoint(desktop){
            width: 20.7rem;
            height: 6.2rem;
            margin: 0;
            top: 1.3rem;
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__top{
        position: relative;
        width: 50.7rem;
        border-top: 0.1rem solid $white;
        margin: auto;
        padding-top: 2.5rem;
        padding-bottom: 3.1rem;
        @include breakpoint(desktop){
            display: flex;
            border-top: none;
            border-bottom: 0.1rem solid $white;
            width: 87.1rem;
            padding-top: 0.9rem;
            margin: 0 0 0 -0.7rem;
            padding-bottom: 0.7rem;
            height: fit-content;
        }

    }
    &__links{
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 87%;
        margin: auto;
        @include breakpoint(desktop){
            justify-content: start;
            width: 63.1%;
            margin: 0 auto;
            padding-top: 0.4rem;
        }
    }
    &__link{
        position: relative;
        width: 39%;
        @include breakpoint(desktop){
            width: 25.7%;
        }
        &::after{
            position: absolute;
            content: '';
            // right: -2.9rem;
            top: -0.6rem;
            width: 0.2rem;
            height: 4.3rem;
            background: $white;
            left: 22rem;
            @include breakpoint(desktop){
                display: none;
            }
        }
        &--last{
            &::after{
                display: none;
            }
        }
        &-icon--ticket{
            &::after{
                position: absolute;
                content: '';
                background: url(../images/ticket-white.svg), no-repeat;
                width: 3.5rem;
                height: 4.3rem;
                top: -0.6rem;
                background-size: cover;
                @include breakpoint(desktop){
                    width: 2rem;
                    height: 2.5rem;
                }
            }
        }
        &-icon--shirt{
            &::after{
                position: absolute;
                content: '';
                background: url(../images/maillot.svg), no-repeat;
                width: 3rem;
                height: 4rem;
                background-size: cover;
                top: -0.9rem;
                @include breakpoint(desktop){
                    width: 2rem;
                    height: 2.5rem;
                }
                
            } 
        }
        span{
            font-family: $lato;
            font-weight: 700;
            font-size: 2.32rem;
            color: $white;
            margin-right: 0.8rem;
            @include breakpoint(desktop){
                font-size: 1.4rem;
                // letter-spacing: 0.01em;
            }
        }
    }
    &__search{
        display: none;
        @include breakpoint(desktop){
            position: relative;
            display: block;
            padding-top: 0.1rem;
            width: 27.7%;
            height: 2.8rem;
            &-wrapper{
                display: flex;
                width: 100%;
                align-items: center;
            }
            &-field{
                position: relative;
                width: 77.2%;
                input{
                    position: relative;
                    background: transparent;
                    font-family: $roboto;
                    font-weight: 300;
                    font-size: 1.2rem;
                    border: none;
                    border-left: 0.1rem solid white;
                    padding: 0 0 0 1.1rem;
                    color: $white;
                    cursor: pointer;
                }
            }
            &-submit{
                position: relative;
                // top: -0.4rem;
                top: 50%;
                &__icon{
                    display: block;
                    position: relative;
                    width: 1.3rem;
                    height: 2.3rem;
                    img{
                        width: 100%;
                        height: 100%;
                        filter: invert(100%);
                        cursor: pointer;
                    }
                }
            }
        }
    }
    &__burger{
        position: absolute;
        display: inline-block;
        width: 3.4rem;
        height: 4rem;
        right: 6.5rem;
        top: 3.3rem;
        @include breakpoint(desktop){
            display: none;
        }
        &-line{
            margin-bottom: 1.1rem;
            width: 100%;
            height: 0.2rem;
            background-color: $white;
        }
    }
    &__logo--arena{
        display: none;
        @include breakpoint(desktop){
            display: block;
            width: 10.4rem;
            height: 5.2rem;
            padding-top: 1.8rem;
            cursor: pointer;
        }
    }
    &__navigation{
        display: none;
        @include breakpoint(desktop){
            display: block;
            position: relative;
            width: 100%;
            padding-bottom: 1.3rem;
            &-wrapper{
                position: relative;
                max-width: 87.1rem;
                width: 100%;
                margin: auto;
            }
            &-list{
                position: relative;
                display: flex;
                justify-content: space-between;
                width: 87.1rem;
                margin-left: 4.6rem;
                &__item{
                    position: relative;
                    font-family: $lato;
                    font-size: 1.2rem;
                    color: $white;
                    margin: 0;
                    a{
                        font-weight: 400;
                        @include breakpoint(desktop){
                            cursor: pointer;
                        }
                    }
                    &::after{
                        position: absolute;
                        content: '';
                        width: 0.1rem;
                        height: 1.3rem;
                        background: $white;
                    }
                    &--last{
                        &::after{
                            display: none;
                        }
                    }
                    a{
                        padding: 1rem 3.6rem 1rem 3.6rem;
                    }
                }
            }
        }
    }
}
