.b-main-slider{
    position: relative;
    padding-top: 17.9rem;
    @include breakpoint(desktop){
        padding-top: 8.7rem;
        height: 73.7rem;
        overflow: hidden;
    }
    &__wrapper{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        @include breakpoint(desktop){
            flex-wrap: nowrap;
        }
    }
    &__slide{
        position: relative;
        @include breakpoint(desktop){
            display: block;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 18.8%;
            box-shadow: 0 0 2rem 1rem $dark-blue;
            height: 65rem;
            transition: all .5s ease;
            cursor: pointer;
            &:nth-of-type(2){
                z-index: 2;
            }
        }
        &--main{
            position: relative;
        }
        &-img{
            position: relative;
            width: 32rem;
            height: 30rem;
            @include breakpoint(desktop){
                display: none;
            }
            &--main{
                width: 64rem;
                height: 46.2rem;
                @include breakpoint(desktop){
                    display: none;
                }
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
        &-description{
            position: absolute;
            top: 15.6rem;
            margin: 0 3.2rem;
            z-index: 1;
            @include breakpoint(desktop){
                top: 42.3rem;
                margin: 0 2.3rem;
                transition: all .5s ease;
                z-index: 0;
            }
            &--main{
                top: 17.4rem;
                margin: 0 6.4rem;
                @include breakpoint(desktop){
                    top: 42.3rem;
                    margin: 0 2.3rem;
                }
            }
            &__tag{
                display: none;
                margin-bottom: 2.3rem;
                &--main{
                    display: block;
                    transition: all .5s ease;

                }
            }
            &__title{
                position: relative;
                font-family: $roboto;
                font-weight: 900;
                font-size: 2.2rem;
                color: $white;
                text-transform: uppercase;
                line-height: 2.9rem;
                @include breakpoint(desktop){
                    font-size: 2rem;
                    line-height: 2.8rem;
                    transition: all .5s ease;

                }
                &--main{
                    font-size: 3.5rem;
                    width: 51.2rem;
                    line-height: 4rem;
                    padding-bottom: 4.2rem;
                    @include breakpoint(desktop){
                        display: none;
                    }
                    &--desk{
                        display: none;
                        @include breakpoint(desktop){
                            display: block;
                            width: 71.8rem;
                            padding-bottom: 1.1rem;
                            margin-left: -0.2rem;
                        }
                    }
                }
            }
            &__text{
                display: none;
                font-family: $lato;
                font-weight: 400;
                font-size: 1.5rem;
                color: $white;
                padding-right: 12rem;
                line-height: 2.1rem;
                padding-bottom: 2rem;
                &--main{
                    @include breakpoint(desktop){
                        display: block;
                        transition: all .5s ease;
                    }
                }
            }
            &__btn{
                display: none;
                &--main{
                    display: block;
                }
            }
        }
    }
}

.active{
    @include breakpoint(desktop){
        width: 62.4%;
        transition: all .5s ease;
        z-index: 3;
        .b-main-slider__slide-description{
            @include breakpoint(desktop){
                top: 30.7rem;
                margin: 0 9.2rem;
                width: 77%;
                transition: all .5s ease;
                z-index: 1;
            }
        }
        .b-main-slider__slide-description__tag{
            @include breakpoint(desktop){
                display: block;
                transition: all .5s ease;
            }
        }
        .b-main-slider__slide-description__text{
            @include breakpoint(desktop){
                display: block;
                transition: all .5s ease;
            }
        }
        .b-main-slider__slide-description__btn{
            @include breakpoint(desktop){
                display: block;
                transition: all .5s ease;
            }
        }
    }
}
