.b-video{
    position: relative;
    margin-bottom: 8.6rem;
    @include breakpoint(desktop){
        margin-top: -1.6rem;
        margin-bottom: 0;
    }
    &__wrapper{
        position: relative;
        @include breakpoint(desktop){
            &::after{
                position: absolute;
                content: '';
                background-color: $navy-blue;
                height: 43rem;
                top: 13.5rem;
                left: 0;
                right: 18rem;
                z-index: -1;
            }
        }
    }
    &__top{
        position: relative;
        @include breakpoint(desktop){
            padding-bottom: 1rem;
            &::after{
                position: absolute;
                content: '';
                background-color: $light-blue;
                width: 100vw;
                height: 16rem;
                left: 0;
                right: 0;
                top: 38.7rem;
                z-index: -1;
            }
        }
        &-title{
            position: relative;
            font-family: $roboto;
            font-weight: 900;
            font-size: 5.5rem;
            color: $dark-blue;
            margin-bottom: 2.4rem;
            padding: 0 2.3rem;
            // text-transform: uppercase;
            @include breakpoint(desktop){
                margin-bottom: 0;
                // top: -6.1rem;
                left: 74.3rem;
            }
            span{
                color: $gold;
                font-weight: 900;
                @include breakpoint(desktop){
                    display: block;
                    margin-left: 6.3rem;
                    margin-top: -0.6rem;
                }
            }
        }
    }
    &__slider-top{
        position: relative;
        @include breakpoint(desktop){
            margin-bottom: 2rem;
        }
        &__wrapper{
            position: relative;
            // background: $navy-blue;
            @include breakpoint(desktop){
                // background: none;
                margin-top: -3.4rem;
            }
        }
        &__slide{
            display: none;
            // position: relative;
            // width: 100%;
            // @include breakpoint(desktop){
            //     display: flex;
            //     padding-left: 9rem;
            // }
            &--main{
                display: block;
                position: relative;
                width: 100%;
                @include breakpoint(desktop){
                    display: flex;
                    padding-left: 9rem;
                }
            }
            &-video{
                position: relative;
                @include breakpoint(desktop){
                    margin-top: -0.6rem;
                }
                &__img{
                    position: relative;
                    width: 100%;
                    height: 38.4rem;
                    @include breakpoint(desktop){
                        width: 72.1rem;
                        height: 43.3rem;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                &__icon{
                    // position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            &-text{
                position: relative;
                padding: 5.1rem 3rem 5rem 6.4rem;
                background: $navy-blue;
                @include breakpoint(desktop){
                    background: none;
                    padding: 13.9rem 3rem 5rem 3.3rem;
                    width: 30%;
                }
                &__title{
                    position: relative;
                    font-family: $roboto;
                    font-weight: 900;
                    font-size: 3rem;
                    color: $white;
                    padding-bottom: 2.4rem;
                    text-transform: uppercase;
                    @include breakpoint(desktop){
                        padding-bottom: 1.5rem;
                    }
                }
                &__description{
                    position: relative;
                    font-family: $lato;
                    font-weight: 400;
                    font-size: 2.6rem;
                    color: $white;
                    padding-bottom: 3.4rem;
                    line-height: 3.5rem;
                    @include breakpoint(desktop){
                        font-size: 1.6rem;
                        line-height: 2.1rem;
                        padding-bottom: 3rem;
                    }
                }
                &__date{
                    position: relative;
                    font-family: $lato;
                    font-weight: 700;
                    font-size: 2.2rem;
                    color: $gold;
                    @include breakpoint(desktop){
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
    &__slider-thumbs{
        position: relative;
        margin-bottom: 3rem;
        &__wrapper{
            position: relative;
            &::after{
                position: absolute;
                content: '';
                background-color: $light-blue;
                width: 51.2rem;
                height: 27rem;
                left: 6.4rem;
                right: 6.4rem;
                top: 7rem;
                z-index: -1;
                @include breakpoint(desktop){
                    display: none;
                }
            }
        }
        &__slide{
            position: relative;
            &-video{
                position: relative;
                @include breakpoint(desktop){
                    box-shadow: 0 1.2rem 2.4rem 0 transparent;
                    cursor: pointer;
                    transition: all .3s ease;
                    &:hover{
                        transform: scale(1.02);
                        box-shadow: 0 1.2rem 2.4rem 0 rgba(0, 0, 0, 0.5);
                        z-index: 2;
                    }
                }
            }
            &-img{
                position: relative;
                width: 38.5rem;
                height: 23rem;
                @include breakpoint(desktop){
                    width: 45rem;
                    height: 27rem;
                }
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            &-text{
                position: absolute;
                top: 4.5rem;
                left: 6.4rem;
                width: 29rem;
                @include breakpoint(desktop){
                    top: 5.4rem;
                    left: 9rem;
                    width: 22rem;
                    transition: all .3s ease;
                }
                &__date{
                    position: relative;
                    display: block;
                    font-family: $lato;
                    font-weight: 700;
                    font-size: 1.6rem;
                    color: $light-blue;
                    margin-bottom: 0.7rem;
                    @include breakpoint(desktop){
                        font-size: 1.2rem;
                        margin-bottom: 2.1rem;
                    }
                }
                &__title{
                    position: relative;
                    font-family: $roboto;
                    font-weight: 700;
                    font-size: 2.2rem;
                    color: $white;
                    text-transform: uppercase;
                    @include breakpoint(desktop){
                        letter-spacing: 0.01em;
                    }
                }
            }
            &-icon{
                z-index: 1;
                // position: relative;
                @include breakpoint(desktop){
                    transition: all .3s ease;
                }
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &__btn{
            @include breakpoint(desktop){
                position: absolute;
                top: -8.5rem;
                right: 1.7rem;
            }
        }
        &__btn .c-btn--navy-blue{
            padding: 0.8rem 0.33rem;
            margin: auto;
            @include breakpoint(desktop){
                width: 14.6rem;
                padding: 0.8rem 2.4rem;
            }
            
        }
        &__arrow{
            display: none;
            @include breakpoint(desktop){
                display: block !important;
                top: 41.6%;
                &--left{
                    left: 0;
                }
                &--right{
                    right: 0;
                }
            }
        }
    }
}

.b-video__slider-thumbs .slick-list{
    @include breakpoint(desktop){
        height: 29rem;
    }
}

.b-video__slider-thumbs .slick-track{
    @include breakpoint(desktop){
        top: 1rem;
    }
}

.b-video__slider-thumbs__slide-video:hover .b-video__slider-thumbs__slide-text{
    @include breakpoint(desktop){
        left: 5rem;
    }
}

.b-video__slider-thumbs__slide-video:hover .b-video__slider-thumbs__slide-icon{
    @include breakpoint(desktop){
        left: 5rem;
    }
}