.p-article{
    position: relative;
    &-wrapper{
        position: relative;
    }
    &__hero{
        position: relative;
        margin-bottom: 6.3rem;
        @include breakpoint(desktop){
            margin-bottom: 5.3rem;
        }
        .c-btn{
            width: 15.3rem;
            height: 4.2rem;
            margin-bottom: 2.3rem;
            @include breakpoint(desktop){
                width: 12.2rem;
                height: 3.2rem;
                left: 0.3rem;
            }
        }
        .p-actu__hero-title{
            z-index: 1;
            top: 8.5rem;
            @include breakpoint(desktop){
                top: 28.7rem;
                left: 9rem;
            }
            h1{
                line-height: 4rem;
                @include breakpoint(desktop){
                    font-size: 3.5rem;
                }
            }
            h1 span{
                color: $white;
            }
            &__date{
                position: relative;
                font-family: $lato;
                font-weight: 700;
                font-size: 1.2rem;
                color: $light-blue;
                margin-bottom: 0.7rem;
                @include breakpoint(desktop){
                    display: none;
                }
            }
        }
    }
    &__content{
        position: relative;
        &-text{
            position: relative;
            // h2{
            //     padding-bottom: 5.5rem;
            // }
            &__intro{
                // position: relative;
                // font-family: $lato;
                // font-weight: 700;
                // font-size: 2.8rem;
                // color: $navy-blue;
                // line-height: 4.5rem;
                // padding-bottom: 4.5rem;
                // padding: 0 6.2rem 6.9rem 6.6rem;
                // @include breakpoint(desktop){
                //     font-size: 1.6rem;
                //     padding: 0 36.2rem 3.2rem 36.2rem;
                //     line-height: 3.1rem;
                // }
                &::first-letter{
                    // font-weight: 900;
                    // font-size: 7rem;
                    // color: $gold;
                    // vertical-align: text-bottom;
                    // margin-left: -3.2rem;
                    // margin-right: 2rem;
                    // @include breakpoint(desktop){
                    //     font-size: 5rem;
                    //     margin-right: 0;
                    // }
                }
            }
            &__regular{
                // position: relative;
                // font-family: $lato;
                // font-weight: 400;
                // font-size: 2.8rem;
                // color: $black;
                // line-height: 4.5rem;
                // padding: 0 6.2rem 4.5rem 6.6rem;
                // @include breakpoint(desktop){
                //     font-size: 1.4rem;
                //     padding: 0 35.6rem 2.8rem 36rem;
                //     line-height: 2.9rem;
                //     letter-spacing: 0.001em;
                // }
                span{
                    // color: $gold;
                    // font-weight: 900;
                    // @include breakpoint(desktop){
                    //     font-weight: 700;
                    // }
                }
            }
            &__list{
                // position: relative;
                // padding: 0 9.2rem 6.4rem 15rem;
                // @include breakpoint(desktop){
                //     padding: 0 36rem 3.1rem 44.4rem;
                // }
                &-item{
                    // position: relative;
                    // font-family: $lato;
                    // font-weight: 700;
                    // font-size: 2.8rem;
                    // color: $navy-blue;
                    // line-height: 4.5rem;
                    // @include breakpoint(desktop){
                    //     font-size: 1.4rem;
                    //     line-height: 2.9rem;
                    // }
                    &::before{
                        // position: absolute;
                        // content: "";
                        // display: block;
                        // width: 1.3rem;
                        // height: 1.3rem;
                        // border-radius: 50%;
                        // background: $navy-blue;
                        // left: -4rem;
                        // top: 1.65rem;
                        // @include breakpoint(desktop){
                        //     width: 0.6rem;
                        //     height: 0.6rem;
                        //     left: -1.4rem;
                        //     top: 1.3rem;
                        // }
                    }
                }
            }
        }
        &-video{
            // position: relative;
            // margin-bottom: 6.4rem;
            // @include breakpoint(desktop){
            //     margin-bottom: 3.6rem;
            // }
            &::after{
                // position: absolute;
                // content: '';
                // background-color: $light-blue;
                // width: 38.4rem;
                // height: 42.6rem;
                // left: 50%;
                // transform: translateX(-50%);
                // top: -3rem;
                // z-index: -1;   
                // @include breakpoint(desktop){
                //     width: 100vw;
                //     height: 24.2rem;
                //     top: 13.6rem;
        
                // }         
            }
            &__wrapper{
                // position: relative;
                // width: 54rem;
                // height: 36rem;
                // margin: auto;
                // @include breakpoint(desktop){
                //     width: 90rem;
                //     height: 51.2rem;
                //     margin: 0 auto 1.9rem;
                // }
                img{
                    // width: 100%;
                    // height: 100%;
                }
            }
            &__icon{
                // @include breakpoint(desktop){
                //     width: 9rem;
                //     height: 9rem;
                // }
            }
            &__copyright{
                // display: none;
                // @include breakpoint(desktop){
                //     display: block;
                //     position: absolute;
                //     font-family: $roboto;
                //     font-weight: 700;
                //     font-size: 1rem;
                //     color: $white;
                //     bottom: 1.8rem;
                //     left: 2.2rem;
                // }
            }
            &__info{
                // display: none;
                // @include breakpoint(desktop){
                //     display: block;
                //     position: relative;
                //     font-family: $lato;
                //     font-size: 1.2rem;
                //     color: $navy-blue;
                //     margin-left: 32.2rem;
                //     p{
                //         position: relative;
                //         font-weight: 300;
                //     }
                // }
            }
        }
        &-quote{
            // position: relative;
            // padding: 0 2.6rem 0 6.4rem;
            // margin: 4.5rem 0 10.5rem 0;
            // @include breakpoint(desktop){
            //     margin: 0 0 2.4rem 0;
            //     padding: 2.2rem 0 0 0;
            // }
            &::after{
                // position: absolute;
                // content: "";
                // background: $light-blue;
                // width: 100vw;
                // height: 65.5%;
                // top: 7.8%;
                // left: 0;
                // z-index: -1;
                // @include breakpoint(desktop){
                //     top: 12%;
                //     height: 13.8rem;
                //     left: 50%;
                //     transform: translateX(-50%);
                // }
            }
            &__text{
                // position: relative;
                // font-family: $roboto;
                // font-size: 3rem;
                // color: $gold;
                // line-height: 4rem;
                // padding: 0 4rem 3.9rem 12.8rem;
                // background: $white;
                // @include breakpoint(desktop){
                //     // position: absolute;
                //     position: relative;
                //     font-size: 1.8rem;
                //     line-height: 3.3rem;
                //     padding: 0 12rem 1.5rem 13.3rem;
                //     width: 37.3%;
                //     // right: 18rem;
                //     margin-left: 72.3rem;
                // }
                p{
                    // position: relative;
                    // font-weight: 500;

                }
                &::before{
                    // position: absolute;
                    // content: open-quote;
                    // color: $navy-blue;
                    // font-family: $raleway;
                    // font-weight: 500;
                    // font-size: 20rem;
                    // top: 4rem;
                    // left: 4rem;
                    // @include breakpoint(desktop){
                    //     font-size: 17rem;
                    //     top: 1.7rem;
                    //     left: 7.2rem;
                    // }
                }
            }
            &__quotee{
                // position: relative;
                // display: none;
                // @include breakpoint(desktop){
                //     display: flex;
                //     flex-direction: row-reverse;
                //     padding: 0 29rem;
                //     margin-top: -2rem;
                //     align-items: baseline;
                // }
                &-img{
                    // position: relative;
                    // width: 6.4rem;
                    // height: 6.4rem;
                    // @include breakpoint(desktop){
                    //     width: 5.6rem;
                    //     height: 5.6rem;
                    // }
                    &::after{
                        // display: none;
                        // @include breakpoint(desktop){
                        //     position: absolute;
                        //     content: "";
                        //     display: block;
                        //     background: $white;
                        //     border-radius: 50%;
                        //     border: 1px solid black;
                        //     width: 5.8rem;
                        //     height: 5.8rem;
                        //     z-index: 0;
                        //     top: 0;
                        //     background: transparent;
                        //     left: -0.2rem;
                        // }
                    }
                    img{
                        // width: 100%;
                        // height: 100%;
                    }
                }
                p{
                    // position: relative;
                    // font-family: $lato;
                    // font-weight: 400;
                    // font-size: 0.945rem;
                    // margin-right: 1.2rem;
                    // color: $black;
                    // line-height: 2.8rem;
                    // letter-spacing: 0.023em;
                    // bottom: 0.8rem;
                    span{
                        // position: relative;
                        // color: $navy-blue;
                        // font-weight: 400;
                    }
                }
            }
        }
        &-bottom{
            position: relative;
            &::after{
                position: absolute;
                content: "";
                background: $navy-blue;
                width: 100vw;
                height: 56.3rem;
                top: 0;
                left: 0;
                z-index: -2;
                @include breakpoint(desktop){
                    height: 100%;
                }
            }
            
        }
    }
    &__slider{
        // position: relative;
        // margin: 2.3rem 0 9rem 0;
        // @include breakpoint(desktop){
        //     width: 90rem !important;
        //     margin: 1.2rem auto 4rem;
        // }
        &::after{
            // position: absolute;
            // content: '';
            // background-color: $light-blue;
            // width: 38.4rem;
            // height: 42.6rem;
            // left: 50%;
            // transform: translateX(-50%);
            // top: -3rem;
            // z-index: -1;   
            // @include breakpoint(desktop){
            //     width: 100vw;
            //     height: 24.2rem;
            //     top: 13.3rem;
    
            // }         
        }
        &-wrapper{
            // position: relative;
            // margin: auto;
            // overflow: hidden;
            // .slick-list{
            //     @include breakpoint(desktop){
            //         height: 55rem !important;
            //     }
            // }
        }
        &-slide{
            // position: relative;
            // // width: 64rem !important;
            // height: 33.6rem;
            // @include breakpoint(desktop){
            //     width: 90rem !important;
            //     height: 51rem;
            // }
            &__img{
                // position: relative;
                // width: 100%;
                // height: 51rem;
                // @include breakpoint(desktop){
                //     height: 51rem;
                //     margin-bottom: 2rem;
                // }
                img{
                    // width: 100%;
                    // height: 100%;
                }
                span{
                    // display: none;
                    // @include breakpoint(desktop){
                    //     display: block;
                    //     position: absolute;
                    //     font-family: $roboto;
                    //     font-weight: 700;
                    //     font-size: 1rem;
                    //     color: $white;
                    //     bottom: 1.7rem;
                    //     left: 2.2rem;
                    // }
                }
            }
            &__info{
                // display: none;
                // @include breakpoint(desktop){
                //     display: block;
                //     font-family: $lato;
                //     font-size: 1.2rem;
                //     color: $navy-blue;
                //     margin-left: 5.2rem;
                //     p{
                //         position: relative;
                //         font-weight: 300;
                //     }
                // }
            }
        }
    }
    .b-news{
        padding: 5rem 0 0 0;
        @include breakpoint(desktop){
            padding: 8rem 0 0;
            margin-top: 4.2rem;
        }
        &::after{
            top: 15.7rem;
            height: 34.8rem;
            @include breakpoint(desktop){
                top: 19.7rem;
                height: 29.2rem;
            }
        }
    }
    .b-news .b-news__title{
        color: $white;
        line-height: 4.5rem;
        
    }
    .b-news .b-news__title span{
        display: block;
        margin-left: 5.6rem;
        @include breakpoint(desktop){
            margin-left: -8.5rem;
            margin-top: 0.6rem;
        }
    }
    .b-news__slider{
        @include breakpoint(desktop){
            top: -4.9rem;
        }
    }
    .b-news__arrow{
        @include breakpoint(desktop){
            top: 49.5%;
        }
    }
    .b-news__btn{
        display: none;
    }
    .c-calendar {
        @include breakpoint(desktop){
            top: -4rem;
            margin-bottom: 0;
        }
    }
    .c-calendar__title{
        @include breakpoint(desktop){
            color: $white;
            margin: 0 0 2.2rem 8.9rem;
        }
    }
    .b-slider-calendar__wrapper{
        @include breakpoint(desktop){
            margin-bottom: 0 !important;
            padding-bottom: 3.9rem !important;
        }
    }
    .b-slider-calendar__arrow{
        @include breakpoint(desktop){
            top: 34.7%;
        }
    }

    
}