.p-info{
    position: relative;
    padding-top: 17.9rem;
    &__wrapper{
        position: relative;
    }
    &__back{
        position: relative;
        &-btn{
            position: relative;
            padding-top: 6rem;
            margin: 0 6.5rem 4.9rem;
            @include breakpoint(desktop){
                margin: 0 36rem 4.6rem;

            }
            &__trigger{
                position: relative;
                display: flex;
                align-items: center;
                padding: 0.7rem 1.4rem;
                height: 5.2rem;
                @include breakpoint(desktop){
                    width: 14.6rem;
                    height: 4.2rem;
                    font-size: 1.3remrem;
                }
                &-icon{
                    position: relative;
                    display: inline-block;
                    width: 6.5rem;
                    height: 3.5rem;
                    @include breakpoint(desktop){
                        width: 5rem;
                    }
                    &::before{
                        position: absolute;
                        content: "";
                        background: url(../images/a_savoir.svg);
                        background-size: cover;
                        width: 100%;
                        height: 100%;
                        left: -2px;
                    }
                }
                span{
                    position: relative;
                    display: inline-block;
                    font-weight: 400;
                }
            }
        }
    }
    &__text{
        position: relative;
        margin-bottom: 3rem;
        @include breakpoint(desktop){
            margin-bottom: 4.3rem;
        }
        h1{
            position: relative;
            font-family: $roboto;
            font-weight: 900;
            font-size: 3.8rem;
            color: $dark-blue;
            padding: 0 6.4rem 4.3rem;
            line-height: 5rem;
            @include breakpoint(desktop){
                padding: 0 36rem 2.5rem;
            }
        }
        p{
            position: relative;
            font-family: $lato;
            font-weight: 400;
            font-size: 2.8rem;
            color: $black;
            line-height: 4.5rem;
            padding: 0 6.2rem 4.5rem 6.6rem;
            @include breakpoint(desktop){
                padding: 0 36rem 2.8rem 36rem;
            }
        }
        &-wrapper{
            position: relative;
        }
    }
}