.p-phototheque{
    position: relative;
    &__title{
        @include breakpoint(desktop){
            h1{
                span{
                    left: -1rem;
                }
            }
        }
    }
    &__wrapper{
        position: relative;
        @include breakpoint(desktop){
            top: -6.1rem;
        }
    }
    &__calendar{
        @include breakpoint(desktop){
            top: -1.5rem;
            padding-top: 5.4rem;
            margin-bottom: 10.4rem;
            &::after{
                position: absolute;
                content: "";
                background: $navy-blue;
                width: 100vw;
                top: 0;
                left: 0;
                right: 0;
                height: 50.3rem;
                z-index: -1;
            }
        }
        &-title{
            @include breakpoint(desktop){
                color: white;
            }
        }
    }
    
}