.p-search{
    position: relative;
    padding-top: 17.8rem;
    @include breakpoint(desktop){
        padding-top: 8.7rem;
    }
    &__wrapper{
        position: relative;
    }
    &__title{
        position: relative;
        font-family: $roboto;
        font-weight: 900;
        font-size: 5.5rem;
        padding: 0 2.3rem;
        margin-bottom: 4.2rem;
        color: $dark-blue;
        @include breakpoint(desktop){
            padding: 0 0 0 11.7rem;
        }
    }
    &__hero{
        position: relative;
        &-wrapper{
            position: relative;
        }
        &-img{
            position: relative;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 26rem;
            @include breakpoint(desktop){
                height: 27.6rem;
            }
        }
        &-title{
            position: relative;
            font-family: $roboto;
            padding: 15.5rem 0 0 6.4rem;
            font-size: 3.5rem;
            line-height: 3rem;
            color: $white;
            z-index: 1;
            text-transform: uppercase;
            @include breakpoint(desktop){
                padding: 9.5rem 0 0 9rem;
            }
            h1{
                font-weight: 900;
                font-size: 3.5rem;
                line-height: 3rem;
                @include breakpoint(desktop){
                    font-size: 4.9rem;
                    line-height: 4.2rem;
                }
                span{
                    display: block;
                    font-weight: 900;
                    color: $gold;
                    margin-top: 0.3rem;
                    @include breakpoint(desktop){
                        margin-top: 0.1rem;
                    }
                }
            }
        }
    }
    &__content{
        position: relative;
        &-wrapper{
            position: relative;
        }
        &-search-bar{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background: $light-blue;
            z-index: 10;
            top: -3rem;
            @include breakpoint(desktop){
                top: -5.7rem;
            }
            &__wrapper{
                position: relative;
                width: 51.2rem;
                height: 11.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 4rem;
                @include breakpoint(desktop){
                    width: 54rem;
                    padding: 0 4.3rem 0 4.5rem;
                }
            }
            &__info{
                position: relative;
                display: flex;
                width: 45%;
                align-items: center;
                &-num{
                    position: relative;
                    font-family: $lato;
                    font-weight: 900;
                    font-size: 5rem;
                    color: $navy-blue;
                    margin-right: 0.4rem;
                    @include breakpoint(desktop){
                        margin-right: 0.8rem;
                    }
                }
                &-text{
                    position: relative;
                    font-family: $lato;
                    font-size: 3rem;
                    line-height: 2.5rem;
                    color: $gold;
                    line-height: 2.2rem;
                    top: -0.4rem;
                    span{
                        font-weight: 900;
                        display: block;
                    }
                }
            }
            &__btn{
                position: relative;
                width: 18rem;
                height: 5.4rem;
                font-size: 1.8rem;
                text-transform: none;
                @include breakpoint(desktop){
                    font-size: 1.6rem;
                    width: 20.4rem;
                    height: 4.9rem;
                }
            }
        }
        &-container{
            position: relative;
            padding: 14rem 0 0 0;
            @include breakpoint(desktop){
                padding: 11.1rem 0 0 0;
            }
        }
        &-video{
            position: relative;
            padding-bottom: 4.9rem;
            .c-video-gallery{
                padding-top: 0;
                @include breakpoint(desktop){
                    padding-bottom: 4.8rem;
                }
            }
            &--last{
                margin-bottom: 0;
            }
            &__title{
                position: relative;
            }
            &__btn{
                position: relative;
                padding: 0.8rem 0.33rem;
                margin: auto;
                @include breakpoint(desktop){
                    margin-top: 4.9rem;
                }
            }
        }
        &-news{
            position: relative;
            background: $light-blue;
            padding: 4.5rem 0 4.8rem 0;
            margin-bottom: 4.9rem;
            @include breakpoint(desktop){
                margin-bottom: 4.4rem;
            }
            .c-photo-gallery{
                padding-top: 0;
            }
            &__title{
                position: relative;
            }
            &__btn{
                position: relative;
                padding: 0.8rem 0.33rem;
                margin: auto;
            }
        }
        &-photos{
            position: relative;
            padding-bottom: 4.9rem;
            @include breakpoint(desktop){
                padding-bottom: 4.7rem;
            }
            .c-photo-gallery{
                padding-top: 0;
            }
            &__title{
                position: relative;
            }
            &__btn{
                position: relative;
                padding: 0.8rem 0.33rem;
                margin: auto;
            }
        }
        &-players{
            position: relative;
            margin-bottom: 6rem;
            @include breakpoint(desktop){
                margin-bottom: 1.8rem;
            }
            .b-players{
                margin-bottom: 0;
                @include breakpoint(desktop){
                    margin-bottom: 3.9rem;
                    &__wrapper{
                        height: 57rem;
                    }
                }
            }
            &__btn{
                position: relative;
                padding: 0.8rem 0.33rem;
                margin: auto;
                bottom: 8.5rem;
                @include breakpoint(desktop){
                    bottom: 5.1rem;
                }
            }
            .c-simple__back-btn{
                padding-top: 0;
                margin-left: 0;
                @include breakpoint(desktop){
                    margin: 0;
                }
            }
            .c-simple__back-btn__trigger{
                margin: auto;
            }
        }
    }
}

.p-search__content-search-bar.fixed{
    position: fixed;
    top: 17.8rem !important;
    z-index: 10;
    @include breakpoint(desktop){
        top: 8.7rem !important;
    }
}