.p-tv{
    position: relative;
    top: -3.2rem;
    @include breakpoint(desktop){
        top: -6.1rem;
    }
    &__pagination{
        top: -4rem;
        @include breakpoint(desktop){
            top: -7.4rem;
        }
    }
    &__calendar{
        @include breakpoint(desktop){
            top: -2.5rem;
            padding-top: 5.4rem;
            margin-bottom: 9.4rem;
            &::after{
                position: absolute;
                content: "";
                background: $navy-blue;
                width: 100vw;
                top: 0;
                left: 0;
                right: 0;
                height: 50.4rem;
                z-index: -1;
            }
            &-title{
                color: $white;
                margin-left: 8.7rem;
            }
        }
    }
}