$base-font-size: 10;

html {
  @include fontSizeVw($base-font-size, $base-font-size, $base-font-size);
}



@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

$lato: 'Lato', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

$roboto: 'Roboto', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap');

$raleway: 'Raleway', sans-serif;
