.c-btn{
    position: relative;
    display: block;
    font-family: $lato;
    font-weight: 400;
    font-size: 1.8rem;
    color: $white;
    border: none;
    text-align: center;
    text-transform: uppercase;
    @include breakpoint(desktop){
        font-size: 1.4rem;
        cursor: pointer;
    }
    &--light-blue{
        font-family: $lato;
        font-weight: 700;
        color: $dark-blue;
        background-color: $light-blue;
        border: 1px solid $light-blue;
        width: 15.3rem;
        padding: 1.1rem 0;
        @include breakpoint(desktop){
            width: 12.2rem;
            padding: 0.9rem 0;
        }

    }
    &--navy-blue{
        background-color: $navy-blue;
        border: 1px solid $navy-blue;
        width: 16rem;
        padding: 1.7rem 0.33rem;
        @include breakpoint(desktop){
            width: 14.6rem;
            height: 4.2rem;
            padding: 1.4rem 0;
            font-size: 1.2rem;
            &:hover{
                background-color: $white;
                color: $navy-blue;
            }
        }
    }
    &--dark-blue{
        background-color: $dark-blue;
        border: 1px solid $dark-blue;
        width: 16rem;
        padding: 1.7rem 0.33rem;
        @include breakpoint(desktop){
            width: 14.6rem;
            height: 4.2rem;
            padding: 1.4rem 0;
            font-size: 1.2rem;
            &:hover{
                background-color: $white;
                color: $dark-blue;
            }
        }
    }
    &--gold{
        background-color: $gold;
        border: 1px solid $gold;
        width: 16rem;
        padding: 1.7rem 0.33rem;
        @include breakpoint(desktop){
            width: 12.5rem;
            padding: 1.4rem 0;
            font-size: 1.2rem;
            &:hover{
                background-color: $white;
                color: $gold;
            }
        }
    }
    &--white{
        font-family: $roboto;
        font-weight: 500;
        font-size: 2.2rem;
        width: 18rem;
        padding: 1.4rem 0;
        background: $white;
        color: $navy-blue;
        text-transform: capitalize;;
        @include breakpoint(desktop){
            width: 12.8rem;
            height: 3rem;
            padding: 0.8rem 0;
            font-size: 1.6rem;
            &:hover{
                color: $gold;
            }
        }
    }
    &--transparent{
        width: 16rem;
        height: 5.4rem;
        border: 1px solid $navy-blue;
        color: $navy-blue;
        background: transparent;
        padding: 0.7rem 0;
        @include breakpoint(desktop){
            width: 14.6rem;
            height: 4.2rem;
            &:hover{
                color: $white;
                background: $navy-blue;
            }
        }
    }
}

