.c-play-icon{
    position: absolute;
    width: 4.1rem;
    height: 4.1rem;
    @include breakpoint(desktop){
        width: 4.4rem;
        height: 4.4rem;
    }
    &--main{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10.7rem;
        height: 10.7rem;
        @include breakpoint(desktop){
            width: 8rem;
            height: 8rem;
        }
    }
}