.c-page-navigator{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 51.2rem;
    height: 11.5rem;
    box-shadow: 0 2rem 4.5rem -1.2rem rgba(0,0,0,0.5);
    background: $light-blue;
    text-transform: capitalize;
    top: -3rem;
    z-index: 100;
    @include breakpoint(desktop){
        width: 126rem;
        top: -6.1rem;
    }
    &__container{
        display: flex;
        align-items: center;
        height: 100%;
        overflow-x: scroll;
        position: relative;
        @include breakpoint(desktop){
            overflow-x: hidden;
        }
        &-item{
            position: relative;
            font-family: $lato;
            font-weight: 400;
            font-size: 2.2rem;
            padding: 0 3.9rem;
            white-space: nowrap;
            @include breakpoint(desktop){
                font-size: 1.5rem;
                white-space: nowrap;
                padding: 0 4rem;
            }
            &::after{
                position: absolute;
                content: "";
                display: block;
                width: 1px;
                height: 1.5rem;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                background: $dark-blue;
            }
            a{
                color: $dark-blue;
                font-weight: 400;
            }
        }
    }
}

.c-page-navigator.fixed{
    position: fixed;
    top: 17.8rem !important;
    z-index: 100;
    @include breakpoint(desktop){
        top: 8.7rem !important;
    }
}