.c-video-gallery{
    position: relative;
    padding: 22.7rem 6.4rem 0;
    @include breakpoint(desktop){
    padding: 17.6rem 9rem 0;
    }
    &__wrapper{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @include breakpoint(desktop){
            flex-direction: row;
        }
    }
    &__video{
        position: relative;
        margin-bottom: 5rem;
        @include breakpoint(desktop){
            margin-bottom: 6rem;
            transition: all .3s ease;
            &:hover{
                transform: scale(1.08);
                box-shadow: 0 1.2rem 2.4rem 0 rgba(0, 0, 0, 0.5);
                transition: all .3s ease;
                z-index: 2;
            }
        }
        &-link{
            position: relative;
            transition: all .3s ease;
        }
        &-img{
            position: relative;
            width: 51.2rem;
            height: 30.6rem;
            @include breakpoint(desktop){
                width: 42rem;
                height: 25.2rem;
                transition: all .3s ease;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
        &-info{
            top: 6rem;
            left: 8.7rem;
            @include breakpoint(desktop){
                top: 5rem;
                left: 8.4rem;
                width: 21rem;
                transition: all .3s ease;
            }
            &__date{
                position: relative;
                margin-bottom: 1.5rem;
                @include breakpoint(desktop){
                    margin-bottom: 1.8rem;
                    transition: all .3s ease;
                }

            }
            &__title{
                position: relative;
                margin-bottom: 8rem;
                transition: all .3s ease;
                @include breakpoint(desktop){
                    margin-bottom: 3.5rem;
                }
            }
            &__icon{
                width: 5.1rem;
                height: 5rem;
                top: 15.4rem;
                left: 0;
                @include breakpoint(desktop){
                    position: relative;
                    width: 4.4rem;
                    height: 4.4rem;
                    top: 0;
                    left: -0.2rem;
                    transition: all .3s ease;
                }
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.c-video-gallery__video:hover c-video-gallery__video-info{
    @include breakpoint(desktop){
        left: 4.5rem;
        top: 9.7rem;
        &-date{
            display: none;
        }
        &-title{
            margin-bottom: 1.5rem;
            font-size: 2.6rem;
            width: 34rem;
        }
        &-icon{
            left: 0;
        }
    }
}